<nav class="bg-white text-gray-800 shadow-md p-4 flex justify-between items-center rounded-lg">
  <!-- Logo Section -->
  <div class="logo">
    <a href="/rh/dashboard-rh" class="text-2xl font-semibold text-blue-600 hover:text-blue-700 transition duration-300">
      Job Match
    </a>
  </div>

  <!-- Navigation Links -->
  <div class="nav-links flex space-x-6">
    <a href="/rh/dashboard-rh" class="text-sm font-medium text-gray-600 hover:text-blue-600 transition duration-300">
      All Jobs
    </a>
    <a href="/rh/add-job" class="text-sm font-medium text-gray-600 hover:text-blue-600 transition duration-300">
      New Job
    </a>
    <a href="#get-hired" class="text-sm font-medium text-gray-600 hover:text-blue-600 transition duration-300">
      Applications Tracker
    </a>
    <a href="/rh/view-profile" class="text-sm font-medium text-gray-600 hover:text-blue-600 transition duration-300">
      Profile
    </a>
    <a href="#about-us" class="text-sm font-medium text-gray-600 hover:text-blue-600 transition duration-300">
      Contact Us
    </a>
  </div>

  <!-- Profile and Notification Section -->
  <div class="flex items-center space-x-4 relative">
    <!-- Notification Button -->
    <button class="relative p-2 text-gray-800 rounded-full hover:bg-gray-300 transition duration-300">
      <span class="absolute top-2 right-0 inline-block w-2.5 h-2.5 bg-red-600 rounded-full"></span>
      <i class="fas fa-bell text-gray-600"></i>
    </button>

    <!-- Profile Picture Dropdown -->
    <div class="relative">
      <button (click)="toggleDropdown()" class="flex items-center">
        <img
          *ngIf="profile"
          [src]="profile.profilePictureUrl"
          alt="Profile Picture"
          class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        />
      </button>

      <!-- Dropdown Menu -->
      <div
        *ngIf="isDropdownOpen"
        class="absolute right-0 mt-2 w-48 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none"
      >
        <div class="py-1">
          <a
            routerLink="/rh/view-profile"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          >Profile</a
          >
          <button
            (click)="onLogout()"
            class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
